.vs
DebugWin32
Debugx64
ReleaseWin32
Releasex64
/GRL/Debug32
/GRL/Debug64
/GRL/Release32
/GRL/Release64
/Debug32
/Debug64
/Release32
/Release64
/GRL_Test/Debug
/GRL_Test/Debug32
/GRL_Test/Debug64
/GRL_Test/Release
/GRL_Test/Release32
/GRL_Test/Release64
/GRL_Test/x64/Debug
/GRL/x32
/GRL/x64
/GRL_Test/x32
/GRL_Test/x64/Release
/x32
/x64
/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.7
