################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/libGRL
/build64Debug
/build64Release
/libGRL/build64Debug
/libGRL/build64Release
/libGRL_TEST/build64Debug
/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.7
